{% extends 'myapp/base.html' %}

{% block title %}Home - MyApp{% endblock %}

{% block content %}

<h2>Email History</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Recipient Email</th>
            <th>Secret Key</th>
            <th>Sent At</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for email in sent_emails %}
            <tr>
                <td>{{ email.recipient_email }}</td>
                <td>{{ email.secret_key }}</td>
                <td>{{ email.sent_at }}</td>
                <td>
                    <a href="{% url 'delete_key' email.id %}" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock %}